
.container{:style => "margin-top: 20px; margin-bottom: 20px;"}
  .row.panel
    .col-md-4.bg_blur
      =image_tag @most_recent.image.url
      %a.follow_btn.hidden-xs{:href => "#"} Follow
    .col-md-8.col-xs-12
      .img-thumbnail.picture.hidden-xs
        = image_tag @user.avatar.url(:thumb)
      .img-thumbnail.visible-xs.picture_mob
        = image_tag @user.avatar.url(:thumb)
      .profile-header
        %h2
          = @user.name
        %h4
          = @user.occupation
        %span
          = @user.about
  .row.profile-nav
    .col-md-4
    .col-md-8.col-xs-12{:style => "margin: 0px;padding: 0px;"}
      .col-md-4.col-xs-4.profile-well
        %i.fa.fa-weixin.fa-lg
          = @profile_comment_count
      .col-md-4.col-xs-4.profile-well
        %i.fa.fa-heart-o.fa-lg
        14
      .col-md-4.col-xs-4.profile-well
        %i.fa.fa-thumbs-o-up.fa-lg
        26

.row#posts
  %h2#heading
    My Added Inspirations
  - @posts.each do |post|
    .col-md-4.post
      .post_image
        = link_to (image_tag post.image.url(:small)), post
      .post_content
        .title
          %h2= link_to post.title, post
        .data.clearfix
          %p.username
            Shared by
            = post.user.name
          %p.buttons
            %span
              %i.fa.fa-comments-o
              = post.comments.count
            %span
              %i.fa.fa-thumbs-o-up
              = post.get_likes.size

