= simple_form_for @post, :html => { :class => 'post-form form-group' } do |f|
  .row
    .col-md-6
      = image_tag @post.image.url(:small)
      = f.input :image
    .col-md-6
      = f.input :title, input_html: { class: "form-control" }
    .col-md-6.link_float
      = f.input :link, input_html: { class: "form-control" }
  .row
    .col-md-12
      = f.input :description, input_html: { class: "form-control" }
      %br/
      =f.button :submit
