
#LogIn.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} &times;
        %h2.modal-title Sign In
      .modal-body.form-group
        %p Please enter your username and password
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, class: "form-control"
          .field
            = f.label :password
            %br/
            = f.password_field :password, autocomplete: "off", class: "form-control"
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me
              = f.label :remember_me
          .actions
            = f.submit "Log in", class: "btn button"
      .modal-footer
        .btn.button{"data-dismiss" => "modal", :type => "button"} Close
