#SignUp.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} &times;
        %h2.modal-title Sign Up
      .modal-body.form-group
        %p Please enter your username and password
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .field
            = f.input :name, required: true, autofocus: true
            %br/
            = f.input :email, required: true
          .field
            = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
            %br/
          .field
            = f.input :password_confirmation, required: true
          .form-actions
            = f.submit "Sign Up", class: "btn button"
      .modal-footer
        .btn.button{"data-dismiss" => "modal", :type => "button"} Close
