%nav.navbar.navbar-main
  .container
    %nav.navbar.navbar-default
      .navbar-header
        %button.navbar-toggle{"data-target" => ".js-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand
          = link_to "Paradigm", root_path, class: "navbar-brand"
      .navbar-collapse.js-navbar-collapse.collapse{"aria-expanded" => "false", :style => "height: 1px;"}
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li= link_to "Add New Inspiration", new_post_path, class: "button"
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                = current_user.name
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li= link_to "Settings", edit_user_registration_path
                %li= link_to "Logout", destroy_user_session_path, method: :delete
          - else
            %a.btn.button{:href => "#", :onclick => "$('#LogIn').modal('show');"} Login
            %a.btn.button{:href => "#", :onclick => "$('#SignUp').modal('show');"} Sign Up
